
		body {background-color: #e5e5e5;scrollbar-face-color: #dee3e7; scrollbar-highlight-color: #ffffff; scrollbar-shadow-color: #dee3e7; scrollbar-3Dlight-color: #d1d7dc; scrollbar-arrow-color: #313187; scrollbar-track-color: #efefef; scrollbar-darkshadow-color: #98aab1; }
		.header {font-weight: bold; font-size: 14px; color: #000000;}
		.whiteheader {font-weight: bold; font-size: 14px; color: #ffffff;}
		a:link {color: #313187}
		a:active {color: #313187}
		a:visited {color: #313187}
		a:hover {color: red; text-decoration: none;}
		.tableOO {border-right: #313187 2px solid; border-top: #313187 2px solid; border-left: #313187 2px solid; border-bottom: #313187 2px solid; background-color: #ffffff}
		.main {font-size: 12px; color: #000000; font-family: Verdana, Arial;}
		.cattitle {font-weight: bold; font-size: 12px; color: #ffffff; letter-spacing: 1px;}
		.titlepic {background-image:  url(../images/cellpic3.gif);background-repeat: repeat-x; background-color: ;}
		.red {color: red}
		td {font-size: 12px; color: #000000; font-family: Verdana, Arial;}
		td.row1 {background-color: #efefef;}
		td.row2 {background-color: #D6D6D6;}
		td.rowpic {background-image:  url(../images/cellpic2.jpg); background-repeat: repeat-y;background-color: #ffffff;}
		td.tdcolorone {background-color:  #BF3155;}
		td.OutlineOne {border-right: #98aab1 1px solid; border-top: #98aab1 1px solid; border-left: #98aab1 1px solid; border-bottom: #98aab1 1px solid;  background-color: #ffffff;}
		.copyright {font-size: 10px; color: #444444; font-family: Verdana, sans-serif;letter-spacing: -1px;}
		a.copyright {color: #444444; text-decoration: none;}
		a.copyright:hover {color: #000000; text-decoration: underline;}
		