<Files .htaccess>
order allow,deny
deny from all
</Files>
DirectoryIndex index.php
Options -Indexes
php_value "magic_quotes_gpc" "1"
php_value "session.auto_start" "1"
php_value "session.bug_compat_42" "0"
php_value "session.bug_compat_warn" "0"
php_value "register_globals" "1"
php_value "error_reporting" "2039"
php_value "safe_mode" "0"
